
<html>
	<head>
		<title>Blog App!</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --> <% // BOOTSTRAP CDN   %>
		<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
		  <link rel = "stylesheet"
          type = "text/css"
            href = "stylesheets/app.css" /> 
		<style type="text/css">
			i.icon{
				font-size:2em;
			}
			.container.main{
				margin-top:7.0em;
			}
			#delete{
				display: inline;
			}
			.container.main{
				background-color:navajowhite;
			}
		</style> 
		
	</head>
	<body>
	    <div class="ui fixed inverted menu">
		   <div class="ui container">
			 
			   <div class="header item"><i class="user secret icon"></i>Blog Site</div>
			     <a href="/" class="item">Home</a>
			   <a href="/blogs/new" class="item">New Blog</a>
		
			</div>
			
		</div>
